.homepage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}
.productlist-cart {
  margin-top: 5px;
  width: 90%;
  display: flex;
  flex-direction: row;
}

.productlist {
  width: 100%;
  display:grid;
  grid-template-columns: repeat(4,1fr);
  column-gap:1rem;
  row-gap: 3rem;
}

