.wishlist-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.wishlist-product-container{
  width:70%;
  background-color: beige;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-shadow: 1px 1px 5px grey;
  flex-direction: column;
  margin-top: 1rem;
}
.wishlist-image
{
  width: 50%;
  display: flex;
  justify-content: center;
}
.wishlist-products {
  display: flex;
  flex-direction: column;
  width: 30%;
  overflow: auto;
  height: 700px;
  padding-top: 8rem;
}
.cart-delete-container
{
  width:30%;
  display: flex;
  justify-content: space-between;
  margin: 1rem 0rem;
}
.carticon
{
  transform: scale(1.6);
  color: rgb(221, 77, 125);
  cursor: pointer;
}
.deleteicon
{
  transform: scale(1.6);
  color: rgb(185, 0, 0);
  cursor: pointer;
}