.navbar
{
    width: 100%;
    background-color: #212529;
    border-radius: 0%;
    display: flex;
}
.heading
{
    width: 90%;
    font-size: 2rem;
    color: white;
    padding: 1.5rem 1rem;
    cursor: pointer;
}
.menu
{
    width: 5%;
    font-size: .9rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cart
{
    color:white;
   transform: scale(1.8);
   cursor: pointer;
}
.count
{
    width: 5%;
    display: flex;
    color: white;
    font-weight: bold;
    font-size: 1.6rem;
    padding-left: 1rem;
    justify-content: center;
    align-items: center;
}
.wishlist
{
  transform: scale(1.8);
  color: white;
  cursor: pointer;
}
@media screen and (max-width: 992px) {
.heading
{
    width:90%;
}
.menu
{
    width: 10%;
    padding-right: 1rem;
}
}
@media screen and (max-width: 592px) {
    .heading
    {
        width:85%;
    }
    .menu
    {
        width: 15%;
    }
}
@media screen and (max-width: 384px) {
    .navbar
    {
        flex-direction: column;
        align-items: center;
    }
    .heading
    {
        width: 80%;
    }
    .menu{
        width: 20%;
        margin-bottom: .5rem;
    }
}
