.link-remove
{
    color: white;
    text-decoration: none;
}
.link-remove:active
{
    color: white;
    text-decoration: none;
}
.link-remove:hover
{
    color: white;
    text-decoration: none;
}
.link-remove:visited
{
    color: white;
    text-decoration: none;
}
.link-remove-title
{
    color: rgb(29, 29, 29);
    text-decoration: none;
}
.link-remove-title:active
{
    color: rgb(29, 29, 29);
    text-decoration: none;
}
.link-remove-title:hover
{
    color: rgb(29, 29, 29);
    text-decoration: none;
}
.link-remove-title:visited
{
    color: rgb(29, 29, 29);
    text-decoration: none;
}
.link-remove-products
{
    color: #23527c;
    text-decoration: none;
}
.link-remove-products:active
{
    color: #23527c;
    text-decoration: none;
}
.link-remove-products:hover
{
    color: #23527c;
    text-decoration: none;
}
.link-remove-products:visited
{
    color: #23527c;
    text-decoration: none;
}